
.options{
    display: none;
    visibility: hidden;
    position: absolute;
    right: 68%;
    top: 7%;
    size: 30%;
    font-size: large;
}
#car{
    display: none;
    visibility: hidden;
    
}
#carpender{
    display: none;
    visibility: hidden;
    right:79%;
}
#otherDomain{
    display: none;
    visibility: hidden;
    position: absolute;
    left: 22%;
    top: 8%;
}
#other{
    visibility: hidden; 
    display: none;
    width: 109%;
    font-size: 139%;
}
#domain{
    position: relative;
    font-size: 161%;
    left: 15%;
    font-weight: lighter;
}
#type{
    position: relative;
    width: 15%;
    height: 3%;
    font-size: 125%;
    font-weight: lighter;
    left: 17%;
}
.job{
    position: relative;
    align-content: center;
    left:15%;
}
.Filter{
    position: absolute;
    align-content: center;
    left: 22%;
    top: 10%;
    font-size: 126%;;
}
#Installationfilter{
    position: absolute;
    left: 16%;
    top: 10%;
    font-size: 166%;
}
.date{
    position: absolute;
    left: 23%;
    top: 14.5%;
    width: 8%;
    font-size: 170%;

}

#nal{
    position:absolute;
    font-size: 150%;
    left:16%;

}
#mass{
    position: absolute;
    font-size: 187%;
    left: 23%;
    width: 12%;
}
#dayofworking{
    position : absolute;
    left: 16%;
    top: 22%;
    font-size: 166%;

}
#AAA{
    position: absolute;
    font-size: 100%;
    bottom: 129%;

}
.check{
    position: absolute;
    top: 35%;
    left: 16%;
    
}
#checkbox1{
    position: absolute;
    left: 16%;
    top: 27%;
    font-size: 166%;

}
#checkbox2{
    position: absolute;
    left: 16%;
    top: 34%;
    font-size: 166%;
}
#plumbingoptionA{
    visibility: hidden;
    display: block;


}
#plumbingoptionB{
    visibility: hidden;
    display: block;

}
#nets{
    visibility: hidden;
    display: block;
}
#electricoptionA{
    visibility: hidden;
    display: block;
}
#electricoptionB{
    visibility: hidden;
    display: block;
}
#homepaint{
    visibility: hidden;
    display: block;
}
#phonetxt{
    visibility: hidden;
    display: block;
    padding: 4px;
    height: 3%;
    width: 72%;
    top: 60px;
    right: 30px;
    font-size: large;
    font-family:Arial, Helvetica, sans-serif
}
#readd{
    visibility: hidden;
    display: block;
    /* border-style: solid; */
    /* border-width: thin; */
    width: 50%;
    height: 50%;

    
}
#door{
    position: relative;
    font-size: 112%;
    width: 400%;
    font-weight: normal;
}
#kathavuen{
    position: relative;
    width: 42%;
    left: 9%;
    font-size: large;
}
#street{
    position: relative;
    font-size: 112%;
    bottom: 44%;
    width: 400%;
    font-weight: normal;
    
}
#theru{
    position: relative;
    width: 42%;
    left: 12%;
    font-size: large;
}
#vill{
    position: relative;
    font-size: 112%;
    bottom: 44%;
    width: 400%;
    font-weight: normal;
}
#ooru{
    position: relative;
    width: 42%;
    left: 2%;
    font-size: large;
}
#pos{
    position: relative;
    font-size: 112%;
    bottom: 44%;
    width: 400%;
    font-weight: normal;
}
#thabal{
    position: relative;
    width: 42%;
    left: 14%;
    font-size: large;
}
#dis{
    position: relative;
    font-size: 112%;
    bottom: 44%;
    width: 400%;
    font-weight: normal;
}
#mavattam{
    position: relative;
    width: 42%;
    left: 11%;
    font-size: large;
}
#sta{
    position: relative;
    font-size: 112%;
    bottom: 44%;
    width: 400%;
    font-weight: normal;
}
#maanilam{
    position: relative;
    width: 42%;
    left: 13%;
    font-size: large;;
}
#cod{
    position: relative;
    font-size: 112%;
    bottom: 44%;
    width: 400%;
    font-weight: normal;
}
#pin{
    position: relative;
    width: 42%;
    left: 8%;
    font-size: large;
}