.options{
    display: none;
    visibility: hidden;
}
#plumbingoptionA{
    visibility: hidden;
    display: block;

}
#plumbingoptionB{
    visibility: hidden;
    display: block;

}
#phonetxt{
    visibility: hidden;
    display: block;
    padding: 4px;
    height: 3%;
    width: 11%;
    top: 60px;
    right: 30px;
    font-size: large;
    font-family:Arial, Helvetica, sans-serif
}
#readd{
    visibility: hidden;
    display: block;
    border-style: solid;
    border-width: thin;
    width: 50%;
    height: 50%;

    
}
#door{
    position: relative;
    font-size: 20px;
    right: -16px;
    font-style: initial;
    bottom: -13px;
}
#kathavuen{
    position: relative;
    padding: 5px;
    width: 25%;
    left: 5%;
    right: 70%;
    bottom: -14px;
    font-size: medium;
}
#street{
    position: relative;
    font-size: 20px;
    right: -47%;
    top: -10%;
    bottom: 2%;
    font-style: initial;
}
#theru{
    position: relative;
    padding: 6px;
    width: 29%;
    top: -36px;
    right: -51%;
    bottom: -47px
}
#ooru{

}
#thabal{

}
#mavattam{

}
#maanilam{

}
#pin{

}