
div.menu{
    background-color: #152238;
    width:15%;
    height:100%;
    padding: 1%;
    margin-left:-1%;
    margin-top:-1%;
    float:left;
} 
div.menu-item{
    width: 100%;
    background-color: white;
    height: 5%;
    margin-top: 10px;
    padding:1%;
    border-radius: 20px;
}
div.menu-item:hover{
    cursor:pointer;
}
div.menu-icon{
    position: relative;
    width: 20%;
    height: 100%;
    float: left;
    left: 3%;
}
div.menu-title{
    position: relative;
    width: 75%;
    height: 100%;
    float: left;
    padding:5px;
    left: 2px;
    top:3%;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-weight: bold;
}
div.content{
    position:absolute;
    background-color: white;
    width:81%;
    height:100%;
    padding: 1%;
    margin-left:0.5%;
    margin-top:-1%;
    float:left;
    visibility:hidden;
    display:none;
}