
div.menu{
    background-color: #152238;
    width:15%;
    height:100%;
    padding: 1%;
    margin-left:-1%;
    margin-top:-1%;
    float:left;
} 
div.menu-item{
    width: 100%;
    background-color: white;
    height: 5%;
    margin-top: 10px;
    padding:1%;
    border-radius: 20px;
    background-size: 100% 100%;
    overflow: hidden;
    
}

div.menu-item:hover{
    cursor:pointer;
}
div.menu-icon{
    position: relative;
    width: 20%;
    height: 100%;
    float: left;
    left: 3%;
}
div.menu-title{
    position: relative;
    width: 75%;
    height: 100%;
    float: left;
    padding:5px;
    left: 2px;
    top:3%;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-weight: bold;
}
div.content{
    position:absolute;
    background-color: yellow;
    width:81%;
    height:100%;
    padding: 1%;
    margin-left:0.5%;
    margin-top:-1%;
    float:left;
    visibility:hidden;
    display:none;
}
div.menu-item:hover{
    background-color:red;
}

.container:hover .mypro {
    opacity: .3;
  }
.container:hover .left {
    opacity: .3;
  } 
.container:hover .right {
    opacity: .3;
  }   
.mypro {
    width: 220px;
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
  } 
  .my_file{
    position: absolute;
    bottom: 385px;
    outline: none;
    color :transparent;
    width:100%;
    box-sizing: border-box;
    padding:15px ;
    cursor: pointer;
    transition: 0.5s;
  } 
  








  .submit{
    position: absolute;
    bottom: 388px;
    outline: none;
    color :transparent;
    width: 100px;
    height: 2px;
    left: 120px;
    box-sizing: border-box;
    padding:15px ;
    cursor: pointer;
    transition: 0.5s;
  }

   
  

 